.about {
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 0.8em;
}

.about .btn--outline {
  margin-right: 1em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}

.about__desc ul {
  list-style-type: none;
  padding-left: 20px;
}

.about__desc li {
  margin-bottom: 10px;
}

.coding-list {
  list-style-type: none; /* 불릿을 제거합니다 */
  padding: 20px; /* 패딩 설정 */
  border-radius: 8px; /* 모서리를 둥글게 처리 */
  margin: 10px 0; /* 상하 여백 설정 */
  max-width: 1100px;
  padding-left: 20px;
}

.coding-list li {
  background-color: var(--clr-bg-alt); /* 어두운 배경색 설정 */
  color: var(--clr-ft); /* 밝은 글자색 설정 */
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight: bold;
  border-left: 3px solid #56b6c2; /* 왼쪽에 강조선 추가 */
  padding-left: 10px; /* 텍스트 왼쪽 패딩 설정 */
  margin-bottom: 10px; /* 항목 사이의 간격 */
  transition: all 0.3s ease-in-out;
  margin-bottom: 10px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.coding-list li:last-child {
  margin-bottom: 0; /* 마지막 항목의 하단 여백 제거 */
  border-bottom: none;
}

.coding-list li:hover {
  background-color: var(--clr-hb); /* 호버 시 배경색 변경 */
  border-left-color: #61afef; /* 호버 시 테두리 색상 변경 */
}